.classpath
.project
.settings
target
lib
hw06.crypted.pdf
hw06.pdf
hw06orig.pdf
hw06part2.bin
hw06part2.pdf
hw06test.bin
hw06test.pdf
kopija.txt
test.txt
leona.txt
sort.txt
test.txt
test2.txt
"hrvoje i leona.jvd"
"hrvoje i leona.png"
proba1.jvd
proba2.jvd
proba3.jvd
slika.gif
slika.jpg
slika.png
test.jvd